
# dependencies
node_modules
/.pnp
.pnp.js

# testing
coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
ts-debug.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# scripts with secrets
auto-setup-railway.ps1
setup-railway-api.js
setup-railway-final.ps1
setup-railway-simple.ps1
setup-railway.js
deploy-railway-api.ps1
deploy-railway-full.ps1
redeploy-railway.ps1
update-railway-vars.ps1
